#header{
    background: #154B7D;
}
#headtext{
    color: aliceblue;
    align-content: center;

}
#searchtitle{
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
}
#h2text{
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
}
