#header {
    background: #154B7D;
    padding: 2em;
}

#header img {
    padding: 2em;
}

#headerTextColumn h1 {
    color: white;
    text-align: center;
    font-weight: bold;
}

@media only screen and (max-width: 448px) {
    #headerTextColumn h1 {
        font-size: 32px;
    }

    #header img {
        padding-top: 0;
    }
}